<app-navbar></app-navbar>

<body>
  <div class="d-flex flex-column min-vh-100">
    <main class="flex-grow-1">
      <div class="song-list-container">
        <button *ngIf="isAdmin" class="add-song-button" (click)="openAddSongModal()" title="Agregar canción">
          <i class="fas fa-plus"></i>
        </button>

        <h2>Canciones</h2>

        <div *ngIf="loading" class="loading-spinner">
          <mat-spinner></mat-spinner>
          <p>Cargando canciones...</p>
        </div>


        <div *ngIf="!loading && !error" class="songs-table-wrapper">
          <table class="songs-table">
            <thead>
              <tr>
                <th>#</th>
                <th>Título</th>
                <th>Álbum</th>
                <th>Duración</th>
                <th *ngIf="isAdmin">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let song of songs; index as i">
                <td>{{ i + 1 }}</td>
                <td class="title-cell">
                  <img [src]="getImageUrl(song.photo)" alt="{{ song.title }}"
                    onerror="this.src='assets/img/default-image.jpeg'" />
                  <div class="title-info">
                    <strong>{{ song.title }}</strong>
                    <span>{{ song.artist || 'Desconocido' }}</span>
                  </div>
                </td>
                <td>{{ song.album || 'Sin álbum' }}</td>
                <td>{{ formatDuration(song.duration) }}</td>
                <td *ngIf="isAdmin" class="actions-cell">
                  <div class="button-group">
                    <button class="icon-button edit-button" title="Editar" (click)="onEditSong(song)">
                      <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                    <button class="icon-button delete-button" title="Eliminar" (click)="onDeleteSong(song)">
                      <i class="fa-solid fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </div>

</body>


<!-- Modal de actualización -->
<app-update-song-modal *ngIf="showUpdateModal" [song]="selectedSong" (close)="showUpdateModal = false"
  (updateSuccess)="onUpdateSuccess($event)">
</app-update-song-modal>

<!-- Modal de agregar -->
<app-add-song-modal *ngIf="showAddModal" (close)="showAddModal = false" (addSuccess)="onAddSuccess($event)">
</app-add-song-modal>


<app-song-info-modal *ngIf="showInfoModal" [song]="songToShow" (close)="closeSongInfoModal()">
</app-song-info-modal>

<app-footer></app-footer>