<footer class="footer">
  <div class="footer-content container">
    <img src="assets/img/okarys-logo.png" alt="OKARYS Music Logo" class="footer-logo" />
    <p class="footer-text">
      &copy; 2025 OKARYS Music. Todos los derechos reservados.
    </p>
    <div class="social-icons">
      <a href="https://www.tiktok.com/@ogiwara_fms"><i class="fab fa-tiktok"></i></a>
      <a href="https://www.instagram.com/vale_fernandez_17/"><i class="fab fa-instagram"></i></a>
      <a href="https://x.com/Vale_FernandezC"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
</footer>
