<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
/>
<nav class="navbar">
  <div class="logo">
    <img src="assets/img/logoo.png" alt="OKARYS Music" />
  </div>

  <ul class="nav-links">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Mis Canciones</a></li>
    <li><a href="#">Playlists</a></li>
    <li><a href="#">Álbumes</a></li>
    <li><a href="/about-us">Nosotros</a></li>
  </ul>

   <button class="search-btn" title="Buscar">
    <i class="fas fa-search"></i>
  </button>
</nav>
