@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

.custom-navbar {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  border-bottom: none;
  position: relative;
  padding: 1rem 0;
}

/* Logo a la izquierda */
.logo img {
  height: 6ch;
  width: auto;
}

/* Enlaces navbar */
.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/* Icono hamburguesa */
.menu-icon {
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

#menu-toggle {
  display: none;
}

/* Menú móvil */
.mobile-menu {
  display: none;
  flex-direction: column;
  width: 100%;
  background-color: white;
  padding: 1rem 0;
  border-top: 1px solid #ccc;
  text-align: center;
}

#menu-toggle:checked ~ .mobile-menu {
  display: flex !important;
}
