@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: white;
  border-bottom: none;
  font-family: 'Roboto', sans-serif;
}

.logo{
    text-align: center;
}
.logo img {
  height: 6ch;
  width: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.search-btn {
  background: none;
  border: none;
  font-size: 18px;
  color: #333;
  cursor: pointer;
  padding: 8px;
}

.search-btn:hover {
  color: #8a928c;
}
