html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  flex: 1;
}

.album-container h2 {
  text-align: center;
  font-family: 'Jockey One', sans-serif;
  font-size: 52px;
  font-weight: 600;
  letter-spacing: 2px;
  color: #BBC0BA;
  margin-bottom: 2rem;
}

.add-album-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #BBC0BA;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: all 0.3s ease;
}

.add-album-button:hover {
  background-color: #9ea59a;
  transform: scale(1.1);
}

.add-album-button i {
  margin-top: 2px;
}

.album-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  justify-items: stretch;
  /* Cambia a stretch para que ocupen todo el ancho */
  align-items: stretch;
  /* Asegura que todas las filas tengan la misma altura */
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  margin: 2rem auto;
  max-width: 95%;
}

.album-card {
  background: #faf8f3;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(9, 9, 9, 0.08);
  width: 100%;
  /* Ocupa todo el ancho de la celda */
  min-height: 320px;
  /* Altura mínima para uniformidad */
  height: 100%;
  /* Ocupa todo el alto de la celda */
  padding: 18px 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* Alinea el contenido arriba */
  transition: box-shadow 0.2s;
  box-sizing: border-box;
}

.album-card:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.18);

}

.album-image img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  background: #e8e6e6;
}

img {
  border-radius: 8px;
}

.album-info h3 {
  margin: 0;
  margin-bottom: 20px;
  margin-top: 10px;
  font-family: 'Jockey One', sans-serif;
  color: #B3B3B3;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
}

.album-info p {
  margin: 0;
  margin-bottom: 5px;
  color: #444;
  font-size: 16px;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
}



.admin-actions {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  gap: 10px;
}



.button-group {
  padding: 20px;
  margin-top: 20px;
}

.button-group button {
  margin-left: 10px;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.button-edit {
  background-color: #E6DED3;
  color: #333;
}

.button-delete {
  background-color: #BBC0BA;
  color: #333;
}

.button-edit:hover,
.button-delete:hover {
  background-color: #9ea59a;
}

.admin-button:hover {
  opacity: 0.85;
  transform: translateY(-2px);
}